Repository microsoftgraph/msgraph-sdk-powershell: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-auth-module.yml

.azure-pipelines/generate-auth-module.yml:
  pool:
    name: Microsoft Graph
    demands: Agent.Name -equals Local-Agent
  steps:
  - task: securedevelopmentteam.vss-secure-development-tools.build-task-credscan.CredScan@2
    displayName: Run CredScan
    inputs:
      debugMode: false
  - task: PowerShell@2
    displayName: Generate and Build Auth Module
  ...

.azure-pipelines/generate-v1.0-modules.yml:
  pool:
    name: Microsoft Graph
    demands: Agent.Name -equals Local-Agent
  steps:
  - task: securedevelopmentteam.vss-secure-development-tools.build-task-credscan.CredScan@2
    displayName: Run CredScan
    inputs:
      debugMode: false
  - task: Npm@1
    displayName: Install AutoRest
    inputs:
  ...

.azure-pipelines/validate-pr-auth-module.yml:
  pool:
    name: Microsoft Graph
    demands: Agent.Name -equals Local-Agent
  steps:
  - task: securedevelopmentteam.vss-secure-development-tools.build-task-credscan.CredScan@2
    displayName: Run CredScan
    inputs:
      debugMode: false
  - task: PowerShell@2
    displayName: Generate and Build Auth Module
  ...

Add signing of auth nuget package.
  .azure-pipelines/generate-auth-module.yml
Due: none

Enable all modules.
  .azure-pipelines/generate-beta-modules.yml
  .azure-pipelines/generate-v1.0-modules.yml
  config/ModulesMapping.jsonc
Due: .azure-pipelines/generate-v1.0-modules.yml

Wrap generate beta modules yml in jobs.
  .azure-pipelines/generate-beta-modules.yml
Due: none

Increase job timeouts to 300.
  .azure-pipelines/generate-auth-module.yml
  .azure-pipelines/generate-beta-modules.yml
  .azure-pipelines/generate-v1.0-modules.yml
  .azure-pipelines/validate-pr-auth-module.yml
  .azure-pipelines/validate-pr-beta-modules.yml
  .azure-pipelines/validate-pr-v1.0-modules.yml
Due: none

Update generate-auth-module.yml for Azure Pipelines
  .azure-pipelines/generate-auth-module.yml
Due: none

Add publish nuget tasks
  .azure-pipelines/generate-beta-modules.yml
  .azure-pipelines/generate-v1.0-modules.yml
Due: none

Enable a subset of modules for tests.
  config/ModulesMapping.jsonc
Due: .azure-pipelines/generate-v1.0-modules.yml

Add roll-up module yml
  .azure-pipelines/generate-beta-rollup-module.yml
  .azure-pipelines/generate-v1.0-rollup-module.yml
  src/Beta/Graph/Graph/Microsoft.Graph.nuspec
  src/Beta/Graph/Graph/Microsoft.Graph.psd1
  tools/GenerateRollUpModule.ps1
  tools/Templates/Microsoft.Graph.nuspec
Due: .azure-pipelines/generate-v1.0-modules.yml

Enable all modules.
  .azure-pipelines/generate-auth-module.yml
  .azure-pipelines/generate-beta-modules.yml
  .azure-pipelines/generate-beta-rollup-module.yml
  .azure-pipelines/generate-v1.0-modules.yml
  .azure-pipelines/generate-v1.0-rollup-module.yml
  .azure-pipelines/validate-pr-auth-module.yml
  .azure-pipelines/validate-pr-beta-modules.yml
  .azure-pipelines/validate-pr-v1.0-modules.yml
  config/ModulesMapping.jsonc
Due: .azure-pipelines/generate-v1.0-modules.yml

Decode access token to get scopes.
  src/Authentication/Authentication/Cmdlets/ConnectGraph.cs
  src/Authentication/Authentication/ErrorConstants.cs
  src/Authentication/Authentication/Helpers/JwtHelpers.cs
  src/Authentication/Authentication/Microsoft.Graph.Authentication.csproj
  src/Authentication/Authentication/Models/JwtPayload.cs
  src/Authentication/Authentication/Properties/launchSettings.json
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Add Get-MgContext cmdlet.
  src/Authentication/Authentication/Cmdlets/ConnectGraph.cs
  src/Authentication/Authentication/Cmdlets/GetMGContext.cs
  src/Authentication/Authentication/Microsoft.Graph.Authentication.format.ps1xml
  src/Authentication/Authentication/Microsoft.Graph.Authentication.psd1
  src/Authentication/Authentication/Models/AuthConfig.cs
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Add app display name to Get-MgContext response.
  src/Authentication/Authentication/Cmdlets/ConnectGraph.cs
  src/Authentication/Authentication/Helpers/AuthenticationHelpers.cs
  src/Authentication/Authentication/Helpers/JwtHelpers.cs
  src/Authentication/Authentication/Microsoft.Graph.Authentication.format.ps1xml
  src/Authentication/Authentication/Models/AuthConfig.cs
  src/Authentication/Authentication/Models/JwtPayload.cs
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Add options to read logged in user from the cache.
  src/Authentication/Authentication/Cmdlets/ConnectGraph.cs
  src/Authentication/Authentication/Models/JwtPayload.cs
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Add New-MgGroupMember cmdlet.
  config/ModulesMapping.jsonc
  src/Beta/Groups.DirectoryObject/Groups.DirectoryObject/Microsoft.Graph.Groups.DirectoryObject.psd1
  src/Beta/Groups.DirectoryObject/Groups.DirectoryObject/custom/GroupsDirectoryObject.cs
  src/Beta/Groups.DirectoryObject/Groups.DirectoryObject/custom/NewMgGroupMember_Create.cs
  src/Beta/Groups.DirectoryObject/Groups.DirectoryObject/custom/NewMgGroupMember_CreateExpanded.cs
  src/Beta/Groups.DirectoryObject/Groups.DirectoryObject/custom/NewMgGroupMember_CreateViaIdentity.cs
  src/Beta/Groups.DirectoryObject/Groups.DirectoryObject/custom/NewMgGroupMember_CreateViaIdentityExpanded.cs
  src/Beta/Groups.DirectoryObject/Groups.DirectoryObject/examples/New-MgGroupMember.md
  src/Beta/Groups.DirectoryObject/Groups.DirectoryObject/test/New-MgGroupMember.Tests.ps1
  src/Beta/Groups.DirectoryObject/Groups.DirectoryObject/test/loadEnv.ps1
  src/Beta/Groups.DirectoryObject/Groups.DirectoryObject/tools/Resources/readme.md
Due: .azure-pipelines/generate-v1.0-modules.yml

small typo
  samples/2-ConnectToGraph.ps1
Due: none

Updated the readme and samples to match the new version
  README.md
  samples/0-InstallModule.ps1
  samples/1-FindCommands.ps1
  samples/2-ConnectToGraph.ps1
  samples/3-TenantInformation.ps1
  samples/4-UsersAndGroups.ps1
  samples/5-Chats.ps1
  samples/6-Sites.ps1
Due: none

Typo
  README.md
Due: none

Added prefix to scripts
  samples/Scripts/Get-TeamMembers.ps1
  samples/Scripts/Remove-ServicePrincipal.ps1
Due: none

Adding permission related troubleshooting steps.
  README.md
Due: none

Update 2-ConnectToGraph.ps1
  samples/2-ConnectToGraph.ps1
Due: none

Create 7-Drives.ps1
  samples/7-Drives.ps1
Due: none

Update 7-Drives.ps1
  samples/7-Drives.ps1
Due: none

Update dependencies to latest versions.
  src/Authentication/Authentication/Microsoft.Graph.Authentication.csproj
  src/Authentication/Authentication/Microsoft.Graph.Authentication.nuspec
  src/Authentication/Authentication/Microsoft.Graph.Authentication.psd1
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Include Microsoft.Graph.Authentication.format.ps1xml in nuget pacakge.
  config/ModuleMetadata.json
  src/Authentication/Authentication/Cmdlets/ConnectGraph.cs
  src/Authentication/Authentication/Microsoft.Graph.Authentication.nuspec
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Add ODataQueryOptionsHandler HttpMessageHandler to pipeline.
  .gitignore
  src/Authentication/Authentication.Test/Helpers/ODataQueryOptionsHandlerTests.cs
  src/Authentication/Authentication.Test/Microsoft.Graph.Authentication.Test.csproj
  src/Authentication/Authentication.Test/TestUtils/FakeSuccessHandler.cs
  src/Authentication/Authentication.sln
  src/Authentication/Authentication/Helpers/HttpHelpers.cs
  src/Authentication/Authentication/Helpers/ODataQueryOptionsHandler.cs
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Add comments for ODataQueryOptionsHandler.cs.
  src/Authentication/Authentication/Helpers/HttpHelpers.cs
  src/Authentication/Authentication/Helpers/ODataQueryOptionsHandler.cs
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Add task to run auth module tests during CI.
  .azure-pipelines/generate-auth-module.yml
  .azure-pipelines/validate-pr-auth-module.yml
Due: none

Add display name to test task.
  .azure-pipelines/generate-auth-module.yml
  .azure-pipelines/validate-pr-auth-module.yml
Due: none

Update Graph Slice url to Graph Explorer API.
  .azure-pipelines/generate-beta-rollup-module.yml
  .azure-pipelines/generate-v1.0-rollup-module.yml
  tools/DownloadOpenApiDoc.ps1
Due: none

Pre load System.Security.Cryptography.ProtectedData assembly on Windows PowerShell.
  Repo.props
  src/Authentication/Authentication/Helpers/AuthenticationHelpers.cs
  src/Authentication/Authentication/Helpers/TokenCryptoHelpers.cs
  src/Authentication/Authentication/Microsoft.Graph.Authentication.csproj
  src/Authentication/Authentication/Microsoft.Graph.Authentication.nuspec
  src/Authentication/Authentication/Microsoft.Graph.Authentication.psd1
  src/Authentication/Authentication/Microsoft.Graph.Authentication.psm1
  tools/Lib/System.Security.Cryptography.ProtectedData.dll
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Add scripts read module version and validate.
  tools/ReadModuleReadMe.ps1
  tools/Templates/readme.md
  tools/ValidateUpdatedModuleVersion.ps1
Due: none

Reset 1 before running tool scripts.
  tools/BuildModule.ps1
  tools/GenerateAuthenticationModule.ps1
  tools/GenerateModules.ps1
  tools/GenerateRollUpModule.ps1
  tools/ManageGeneratedModule.ps1
  tools/PackModule.ps1
  tools/PublishModule.ps1
  tools/ValidateUpdatedModuleVersion.ps1
Due: none

Add check for commented module-version.
  tools/GenerateModules.ps1
  tools/ReadModuleReadMe.ps1
Due: none

Add auth module version validation.
  src/Authentication/Authentication/Microsoft.Graph.Authentication.csproj
  src/Authentication/Authentication/Microsoft.Graph.Authentication.nuspec
  src/Authentication/Authentication/Microsoft.Graph.Authentication.psd1
  tools/BuildModule.ps1
  tools/GenerateAuthenticationModule.ps1
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Add metadata module version validation.
  config/ModuleMetadata.json
  tools/BuildModule.ps1
  tools/GenerateRollUpModule.ps1
Due: none

Add script to read release notes.
  src/Authentication/Authentication/Microsoft.Graph.Authentication.csproj
  src/Authentication/Authentication/Microsoft.Graph.Authentication.psd1
  tools/BuildModule.ps1
  tools/GenerateModules.ps1
  tools/NuspecHelper.ps1
  tools/ReadModuleReadMe.ps1
  tools/Templates/readme.md
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Enable all modules.
  config/ModulesMapping.jsonc
Due: .azure-pipelines/generate-v1.0-modules.yml

Path conditions:
  .azure-pipelines/generate-auth-module.yml: any of: src/Authentication
  .azure-pipelines/generate-v1.0-modules.yml: any of: src/Beta, src/v1.0, config/ModulesMapping.jsonc
  .azure-pipelines/validate-pr-auth-module.yml: any of: src/Authentication
