Repository microsoftgraph/msgraph-sdk-powershell: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-auth-module.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

Path conditions:
  .azure-pipelines/generate-auth-module.yml: any of: src/Authentication
  .azure-pipelines/generate-v1.0-modules.yml: any of: src/v1.0, config/ModulesMapping.jsonc
  .azure-pipelines/validate-pr-auth-module.yml: any of: src/Authentication
  .azure-pipelines/validate-pr-v1.0-modules.yml: any of: src/v1.0, config/ModulesMapping.jsonc

Update generate-auth-module.yml for Azure Pipelines
  .azure-pipelines/generate-auth-module.yml
Due: none

Add token cache implementation for Windows, MacOS and Linux.
  src/Authentication/Authentication/Constants.cs
  src/Authentication/Authentication/Helpers/AuthenticationHelpers.cs
  src/Authentication/Authentication/Helpers/PlatformHelpers.cs
  src/Authentication/Authentication/TokenCache/LinuxTokenCache.cs
  src/Authentication/Authentication/TokenCache/MacTokenCache.cs
  src/Authentication/Authentication/TokenCache/PlatformLibs/KeyChains.cs
  src/Authentication/Authentication/TokenCache/PlatformLibs/LibKeyUtils.cs
  src/Authentication/Authentication/TokenCache/TokenCryptographer.cs
  src/Authentication/Authentication/TokenCache/WindowsTokenCache.cs
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

pull in creds
  .azure-pipelines/download-openapidocs.yml
Due: none

status checks
  .azure-pipelines/download-openapidocs.yml
Due: none

Update download-openapidocs.yml for Azure Pipelines
  .azure-pipelines/download-openapidocs.yml
Due: none

switch up versions
  .azure-pipelines/download-openapidocs.yml
Due: none

show token
  .azure-pipelines/download-openapidocs.yml
Due: none

Use latest autorest version
  .azure-pipelines/validate-pr-beta-modules.yml
Due: none

Update validate-pr-auth-module.yml for Azure Pipelines
  .azure-pipelines/validate-pr-auth-module.yml
Due: none

Use latest autorest version
  .azure-pipelines/generate-beta-modules.yml
Due: none

Update ADO scripts to use script variables.
  .azure-pipelines/generate-beta-modules.yml
  .azure-pipelines/generate-beta-rollup-module.yml
  .azure-pipelines/generate-v1.0-modules.yml
  .azure-pipelines/generate-v1.0-rollup-module.yml
  .azure-pipelines/validate-pr-v1.0-modules.yml
  src/Authentication/Authentication/Microsoft.Graph.Authentication.psd1
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Specify dependency versions in manifest.
  tools/BuildModule.ps1
  tools/GenerateModules.ps1
  tools/GenerateRollUpModule.ps1
  tools/NuspecHelper.ps1
Due: none

change branching point. Checkout dev first
  .azure-pipelines/download-openapidocs.yml
Due: none

reorder
  .azure-pipelines/download-openapidocs.yml
Due: none

Add download pipeline file and openapi download script
  .azure-pipelines/download-openapidocs.yml
  tools/UpdateOpenApi.ps1
Due: none

Revert "Add download pipeline file and openapi download script"
  .azure-pipelines/download-openapidocs.yml
  tools/UpdateOpenApi.ps1
Due: none

Specify to run only dev branch
  .azure-pipelines/download-openapidocs.yml
Due: none

Fix casing and '\' on Linux.
  src/Authentication/Authentication/Microsoft.Graph.Authentication.csproj
  tools/GenerateModules.ps1
  tools/ManageGeneratedModule.ps1
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Update GenerateModules.ps1
  tools/GenerateModules.ps1
Due: none

Refresh modules with 5/5/2020 CSDL.
  config/ModulesMapping.jsonc
  openApiDocs/Beta/CloudCommunications.yml
  openApiDocs/Beta/Education.yml
  openApiDocs/Beta/Files.Drives.yml
  openApiDocs/Beta/Files.Shares.yml
  openApiDocs/Beta/Groups.Actions.yml
  openApiDocs/Beta/Groups.Drive.yml
  openApiDocs/Beta/Groups.Functions.yml
  openApiDocs/Beta/Groups.Group.yml
  openApiDocs/Beta/Groups.Site.yml
  openApiDocs/Beta/Identity.AccessReview.yml
  openApiDocs/Beta/Identity.Application.yml
  openApiDocs/Beta/Identity.AuditLogs.yml
  openApiDocs/Beta/Identity.ConditionalAccess.yml
  openApiDocs/Beta/Identity.Invitations.yml
  openApiDocs/Beta/Identity.Policies.yml
  openApiDocs/Beta/Identity.Protection.yml
  openApiDocs/Beta/Identity.ServicePrincipal.yml
  openApiDocs/Beta/Identity.UserFlows.yml
  openApiDocs/Beta/Sites.Actions.yml
  openApiDocs/Beta/Sites.Drive.yml
  openApiDocs/Beta/Sites.Functions.yml
  openApiDocs/Beta/Sites.List.yml
  openApiDocs/Beta/Sites.Pages.yml
  openApiDocs/Beta/Sites.Site.yml
  openApiDocs/Beta/Teams.Team.yml
  openApiDocs/Beta/Users.Actions.yml
  openApiDocs/Beta/Users.Drive.yml
  openApiDocs/Beta/Users.FollowedSites.yml
  openApiDocs/Beta/Users.Functions.yml
  openApiDocs/Beta/Users.Groups.yml
  openApiDocs/Beta/Users.User.yml
Due: .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

Revert CloudCommunications.yml to previous state.
  openApiDocs/Beta/CloudCommunications.yml
  src/Authentication/Authentication/Cmdlets/ConnectGraph.cs
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Do not fetch full history Switch to graph tooling email and username Change cron to every wednesday. Include more reviewers. Add misc variables.
  .azure-pipelines/download-openapidocs.yml
Due: none
