Repository microsoftgraph/msgraph-sdk-powershell: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/generate-beta-modules.yml, .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-auth-module.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

.azure-pipelines/generate-auth-module.yml:
  pool:
    name: Microsoft Graph
    demands: Agent.Name -equals Local-Agent
  steps:
  - task: securedevelopmentteam.vss-secure-development-tools.build-task-credscan.CredScan@2
    displayName: Run CredScan
    inputs:
      debugMode: false
  - task: PowerShell@2
    displayName: Generate and Build Auth Module
  ...

.azure-pipelines/generate-beta-modules.yml:
  name: $(BuildDefinitionName)_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  jobs:
  - job: MSGraphPSSDKGeneration
    displayName: MS Graph PS SDK Beta Generation
    timeoutInMinutes: 300
    pool:
      name: Microsoft Graph
      demands: Agent.Name -equals Local-Agent
    steps:
  ...

.azure-pipelines/generate-v1.0-modules.yml:
  jobs:
  - job: MSGraphPSSDKGeneration
    displayName: MS Graph PS SDK v1.0 Generation
    timeoutInMinutes: 300
    pool:
      name: Microsoft Graph
      demands: Agent.Name -equals Local-Agent
    steps:
    - task: securedevelopmentteam.vss-secure-development-tools.build-task-credscan.CredScan@2
  ...

.azure-pipelines/validate-pr-auth-module.yml:
  name: $(BuildDefinitionName)_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  jobs:
  - job: MSGraphPSSDKValidation
    displayName: MS Graph PS SDK Auth Validation
    timeoutInMinutes: 300
    pool:
      name: Microsoft Graph
      demands: Agent.Name -equals Local-Agent
    steps:
  ...

.azure-pipelines/validate-pr-v1.0-modules.yml:
  jobs:
  - job: MSGraphPSSDKValidation
    displayName: MS Graph PS SDK V1.0 Validation
    timeoutInMinutes: 300
    pool:
      name: Microsoft Graph
      demands: Agent.Name -equals Local-Agent
    steps:
    - task: securedevelopmentteam.vss-secure-development-tools.build-task-credscan.CredScan@2
  ...

username and email string
  .azure-pipelines/download-openapidocs.yml
Due: none

typo in script
  .azure-pipelines/download-openapidocs.yml
Due: none

switch to System AccessToken
  .azure-pipelines/download-openapidocs.yml
Due: none

Update Azure pipelines
  .azure-pipelines/generate-beta-modules.yml
  tools/GenerateAuthenticationModule.ps1
Due: none

Detect OS platform
  src/Authentication/Authentication/Helpers/PlatformHelpers.cs
  src/Authentication/Authentication/TokenCache/TokenCryptographer.cs
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Update KeyChain APIs.
  src/Authentication/Authentication/ErrorConstants.cs
  src/Authentication/Authentication/TokenCache/LinuxTokenCache.cs
  src/Authentication/Authentication/TokenCache/MacTokenCache.cs
  src/Authentication/Authentication/TokenCache/NativePlatformLibs/LinuxNativeKeyUtils.cs
  src/Authentication/Authentication/TokenCache/NativePlatformLibs/MacNativeKeyChain.cs
  src/Authentication/Authentication/TokenCache/PlatformLibs/KeyChains.cs
  src/Authentication/Authentication/TokenCache/PlatformLibs/LibKeyUtils.cs
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Add mac and linux jobs
  .azure-pipelines/validate-pr-auth-module.yml
Due: none

Add unit tests.
  src/Authentication/Authentication.Test/TokenCache/TokenCacheStorageTests.cs
  src/Authentication/Authentication/Helpers/AuthenticationHelpers.cs
  src/Authentication/Authentication/Helpers/PlatformHelpers.cs
  src/Authentication/Authentication/TokenCache/LinuxTokenCache.cs
  src/Authentication/Authentication/TokenCache/MacTokenCache.cs
  src/Authentication/Authentication/TokenCache/TokenCacheStorage.cs
  src/Authentication/Authentication/TokenCache/WindowsTokenCache.cs
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Bump version number.
  .azure-pipelines/validate-pr-auth-module.yml
  src/Authentication/Authentication/Microsoft.Graph.Authentication.psd1
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Added samples for creating an application
  samples/9-Applications.ps1
Due: none

Use session keyring on Linux.
  src/Authentication/Authentication/Constants.cs
  src/Authentication/Authentication/Helpers/AuthenticationHelpers.cs
  src/Authentication/Authentication/TokenCache/LinuxTokenCache.cs
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Add support for paging of collection.
  src/Beta/Users.User/Users.User/Microsoft.Graph.Users.User.psd1
  src/Beta/Users.User/Users.User/readme.md
  src/readme.graph.md
  tools/Custom/ListCmdlet.cs
Due: .azure-pipelines/generate-beta-modules.yml

Use begin processing to initialize paging values.
  src/Beta/Users.User/Users.User/Microsoft.Graph.Users.User.psd1
  src/readme.graph.md
Due: .azure-pipelines/generate-beta-modules.yml

Update Microsoft.Graph.Users.User.psd1
  src/Beta/Users.User/Users.User/Microsoft.Graph.Users.User.psd1
Due: .azure-pipelines/generate-beta-modules.yml

Update Get-MgConditionalAccessPolicy.md
  src/Beta/Identity.ConditionalAccess/Identity.ConditionalAccess/examples/Get-MgConditionalAccessPolicy.md
Due: .azure-pipelines/generate-beta-modules.yml

Update New-MgConditionalAccessPolicy.md
  src/Beta/Identity.ConditionalAccess/Identity.ConditionalAccess/examples/New-MgConditionalAccessPolicy.md
Due: .azure-pipelines/generate-beta-modules.yml

Update Update-MgConditionalAccessPolicy.md
  src/Beta/Identity.ConditionalAccess/Identity.ConditionalAccess/examples/Update-MgConditionalAccessPolicy.md
Due: .azure-pipelines/generate-beta-modules.yml

Use PAT instead of SystemAccessToken
  .azure-pipelines/download-openapidocs.yml
Due: none

Samples update
  samples/1-FindCommands.ps1
  samples/9-Applications.ps1
Due: none

Address feedback.
  .azure-pipelines/validate-pr-auth-module.yml
  .azure-pipelines/validate-pr-beta-modules.yml
  src/Authentication/Authentication.Test/TokenCache/TokenCacheStorageTests.cs
  src/Authentication/Authentication/Constants.cs
  src/Authentication/Authentication/ErrorConstants.cs
  src/Authentication/Authentication/TokenCache/LinuxTokenCache.cs
  src/Authentication/Authentication/TokenCache/MacTokenCache.cs
  src/Authentication/Authentication/TokenCache/TokenCacheStorage.cs
  src/Authentication/Authentication/TokenCache/WindowsTokenCache.cs
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Used interlocked increment.
  src/Authentication/Authentication.Test/TokenCache/TokenCacheStorageTests.cs
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Hook into Signal infrastructure to capture HTTP Request and Responses for logging purposes when Debug is specified. On Module init, hook EventHandler into EventListener delegate.
  tools/Custom/EventHelper.cs
  tools/Custom/HttpMessageFormatter.cs
  tools/Custom/Module.cs
Due: none

Add GertGraphClient and InvokeGraph request Cmdlests
  src/Authentication/Authentication/Cmdlets/GetGraphClient.cs
  src/Authentication/Authentication/Cmdlets/InvokeGraphRequest.cs
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Remove PR creation from Azure Pipelines. Create PR in Github Workflows.
  .azure-pipelines/download-openapidocs.yml
  .github/workflows/main.yml
Due: none

Create main.yml
  .github/workflows/main.yml
Due: none

Update main.yml
  .github/workflows/main.yml
Due: none

Add files via upload
  main.yml
Due: none

Delete main.yml
  main.yml
Due: none

branch spec
  .github/workflows/main.yml
Due: none

Specify branch
  .github/workflows/main.yml
Due: none

Removed Add app from Tenant information sample
  samples/3-TenantInformation.ps1
Due: none

Call ForceRefresh for first request only.
  tools/DownloadOpenApiDoc.ps1
  tools/UpdateOpenApi.ps1
Due: none

Add skip CI option
  .github/workflows/main.yml
Due: none

Add filter sample for Groups
  samples/4-UsersAndGroups.ps1
Due: none

Path conditions:
  .azure-pipelines/generate-auth-module.yml: any of: src/Authentication
  .azure-pipelines/generate-beta-modules.yml: any of: src/Beta, config/ModulesMapping.jsonc
  .azure-pipelines/generate-v1.0-modules.yml: any of: src/v1.0, config/ModulesMapping.jsonc
  .azure-pipelines/validate-pr-auth-module.yml: any of: src/Authentication
  .azure-pipelines/validate-pr-v1.0-modules.yml: any of: src/v1.0, config/ModulesMapping.jsonc
