Repository microsoftgraph/msgraph-sdk-powershell: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-auth-module.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

Path conditions:
  .azure-pipelines/generate-auth-module.yml: any of: src/Authentication
  .azure-pipelines/generate-v1.0-modules.yml: any of: src/v1.0, config/ModulesMapping.jsonc
  .azure-pipelines/validate-pr-auth-module.yml: any of: src/Authentication
  .azure-pipelines/validate-pr-v1.0-modules.yml: any of: src/v1.0, config/ModulesMapping.jsonc

Add comments.
  tools/ReadModuleReadMe.ps1
  tools/ValidateUpdatedModuleVersion.ps1
Due: none

Update ModulesMapping.jsonc
  config/ModulesMapping.jsonc
Due: .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

Update version number and readme
  src/Beta/Groups.DirectoryObject/Groups.DirectoryObject/readme.md
Due: none

Update token cache path to UserProfile.
  src/Authentication/Authentication/Constants.cs
  src/Authentication/Authentication/Helpers/AuthenticationHelpers.cs
  src/Authentication/Authentication/Properties/launchSettings.json
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Fix dll ref error on Linux.
  src/Authentication/Authentication/Constants.cs
  src/Authentication/Authentication/Helpers/AuthenticationHelpers.cs
  src/Authentication/Authentication/TokenCache/TokenCryptographer.cs
  src/Authentication/Authentication/TokenCache/WindowsTokenCache.cs
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Add id alias directive.
  src/readme.graph.md
  tools/GenerateModules.ps1
Due: none

Add directives to enable piping of cmdlets.
  src/Authentication/Authentication/Microsoft.Graph.Authentication.csproj
  src/Authentication/Authentication/Microsoft.Graph.Authentication.nuspec
  src/readme.graph.md
  tools/GenerateModules.ps1
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Fix code formatting.
  src/readme.graph.md
Due: none

Update dependencies.
  src/Authentication/Authentication/Microsoft.Graph.Authentication.csproj
  src/Authentication/Authentication/Microsoft.Graph.Authentication.nuspec
  src/Authentication/Authentication/Microsoft.Graph.Authentication.psd1
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Switch directive order.
  src/readme.graph.md
Due: none

Add hand modified Groups.DirectotyObject.yml.
  openApiDocs/Beta/Groups.DirectoryObject.yml
Due: none

Add search and conditional access module.
  config/ModulesMapping.jsonc
  openApiDocs/Beta/CloudCommunications.yml
  openApiDocs/Beta/Groups.DirectoryObject.yml
  openApiDocs/Beta/Identity.ConditionalAccess.yml
  openApiDocs/Beta/Identity.Protection.yml
  openApiDocs/Beta/Identity.UserFlows.yml
  openApiDocs/Beta/Search.yml
  openApiDocs/Beta/Security.yml
  src/Beta/CloudCommunications/CloudCommunications/readme.md
  src/Beta/Identity.ConditionalAccess/Identity.ConditionalAccess/readme.md
  src/Beta/Identity.UserFlows/Identity.UserFlows/readme.md
  src/Beta/Search/Search/readme.md
Due: .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

Update generate-beta-modules.yml for Azure Pipelines
  .azure-pipelines/generate-beta-modules.yml
Due: none

Bump version number.
  config/ModuleMetadata.json
Due: none

Update 0-InstallModule.ps1
  samples/0-InstallModule.ps1
Due: none

bump version number to 0.3.0
  src/Beta/Identity.AdministrativeUnits/Identity.AdministrativeUnits/readme.md
  src/Beta/Identity.Application/Identity.Application/readme.md
  src/Beta/Identity.Contracts/Identity.Contracts/readme.md
  src/Beta/Identity.Devices/Identity.Devices/readme.md
  src/Beta/Identity.DirectoryObjects/Identity.DirectoryObjects/readme.md
  src/Beta/Identity.DirectoryRoleTemplates/Identity.DirectoryRoleTemplates/readme.md
  src/Beta/Identity.DirectoryRoles/Identity.DirectoryRoles/readme.md
  src/Beta/Identity.DirectorySettingTemplates/Identity.DirectorySettingTemplates/readme.md
  src/Beta/Identity.Organization/Identity.Organization/readme.md
  src/Beta/Identity.OrganizationContacts/Identity.OrganizationContacts/readme.md
  src/Beta/Identity.ServicePrincipal/Identity.ServicePrincipal/readme.md
Due: none

Ensure pack-module.ps1 exists before packing modules.
  tools/PackModule.ps1
Due: none

Add directive to alias OData query parameters.
  src/readme.graph.md
Due: none

Rename Odata query parameters to PowerShell vocabulary.
  src/readme.graph.md
Due: none

Add sites.functions and actions.
  openApiDocs/Beta/Sites.Actions.yml
  openApiDocs/Beta/Sites.Functions.yml
  src/Beta/Sites.Functions/Sites.Functions/readme.md
Due: none

Rename badly named Sites.Actions cmdlets
  config/ModulesMapping.jsonc
  src/Beta/Sites.Functions/Sites.Functions/Microsoft.Graph.Sites.Functions.psd1
  src/Beta/Sites.Functions/Sites.Functions/readme.md
Due: .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

Add custom directive to remove unnecessary paths.
  src/Beta/Sites.Actions/Sites.Actions/Microsoft.Graph.Sites.Actions.psd1
  src/Beta/Sites.Actions/Sites.Actions/readme.md
Due: none

Order modules my name.
  config/ModulesMapping.jsonc
Due: .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

Add Users.Actions directives.
  config/ModulesMapping.jsonc
  openApiDocs/Beta/Users.Actions.yml
  src/Beta/Users.Actions/Users.Actions/readme.md
Due: .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

Rename Users.Actions cmdlets that call default calendar.
  src/Beta/Users.Actions/Users.Actions/.gitignore
  src/Beta/Users.Actions/Users.Actions/Microsoft.Graph.Users.Actions.psd1
  src/Beta/Users.Actions/Users.Actions/readme.md
  src/readme.graph.md
Due: none

Added DevicesApps.DeviceAppManagement & Groups.Actions.
  config/ModulesMapping.jsonc
  openApiDocs/Beta/DevicesApps.DeviceAppManagement.yml
  openApiDocs/Beta/Groups.Actions.yml
  src/Beta/DevicesApps.DeviceAppManagement/DevicesApps.DeviceAppManagement/.gitattributes
  src/Beta/DevicesApps.DeviceAppManagement/DevicesApps.DeviceAppManagement/.gitignore
  src/Beta/DevicesApps.DeviceAppManagement/DevicesApps.DeviceAppManagement/Microsoft.Graph.DevicesApps.DeviceAppManagement.psd1
  src/Beta/DevicesApps.DeviceAppManagement/DevicesApps.DeviceAppManagement/readme.md
  src/Beta/Groups.Actions/Groups.Actions/.gitattributes
  src/Beta/Groups.Actions/Groups.Actions/.gitignore
  src/Beta/Groups.Actions/Groups.Actions/Microsoft.Graph.Groups.Actions.psd1
  src/Beta/Groups.Actions/Groups.Actions/readme.md
  src/readme.graph.md
Due: .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

Fix decoding of a single role claim.
  src/Authentication/Authentication/Helpers/JwtHelpers.cs
  src/Authentication/Authentication/Properties/launchSettings.json
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Inline groupPolicyCategory.
  config/ModulesMapping.jsonc
  src/Beta/DevicesApps.DeviceAppManagement/DevicesApps.DeviceAppManagement/readme.md
  src/readme.graph.md
Due: .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

Add GraphSession object.
  src/Authentication/Authentication/Cmdlets/ConnectGraph.cs
  src/Authentication/Authentication/Cmdlets/DisconnectGraph.cs
  src/Authentication/Authentication/Cmdlets/GetMGContext.cs
  src/Authentication/Authentication/Common/GraphSession.cs
  src/Authentication/Authentication/Common/GraphSessionInitializer.cs
  src/Authentication/Authentication/ErrorConstants.cs
  src/Authentication/Authentication/Helpers/AuthenticationHelpers.cs
  src/Authentication/Authentication/Helpers/HttpHelpers.cs
  src/Authentication/Authentication/Interfaces/IAuthContext.cs
  src/Authentication/Authentication/Interfaces/IGraphSession.cs
  src/Authentication/Authentication/Models/AuthContext.cs
  tools/Custom/Module.cs
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Add tests.
  src/Authentication/Authentication.Test/Helpers/GraphSessionTests.cs
  src/Authentication/Authentication/Common/GraphSession.cs
  src/Authentication/Authentication/Common/GraphSessionInitializer.cs
  src/Authentication/Authentication/Properties/AssemblyInfo.cs
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Set AuthContext to null during disconnect.
  src/Authentication/Authentication.Test/Helpers/GraphSessionTests.cs
  src/Authentication/Authentication/Cmdlets/DisconnectGraph.cs
  src/Authentication/Authentication/Common/GraphSession.cs
  src/Authentication/Authentication/Models/AuthContext.cs
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Throw an exception when GraphSession already exists.
  src/Authentication/Authentication.Test/Helpers/GraphSessionTests.cs
  src/Authentication/Authentication.Test/Properties/AssemblyInfo.cs
  src/Authentication/Authentication/Common/GraphSession.cs
  src/Authentication/Authentication/ErrorConstants.cs
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Add directives to rename ill-named cmdlets.
  src/Beta/DevicesApps.DeviceAppManagement/DevicesApps.DeviceAppManagement/Microsoft.Graph.DevicesApps.DeviceAppManagement.psd1
  src/Beta/Groups.Actions/Groups.Actions/Microsoft.Graph.Groups.Actions.psd1
  src/Beta/Groups.Actions/Groups.Actions/readme.md
  src/Beta/Sites.Actions/Sites.Actions/Microsoft.Graph.Sites.Actions.psd1
  src/Beta/Sites.Functions/Sites.Functions/Microsoft.Graph.Sites.Functions.psd1
  src/Beta/Users.Actions/Users.Actions/Microsoft.Graph.Users.Actions.psd1
Due: none
