Repository microsoftgraph/msgraph-sdk-powershell: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/generate-beta-modules.yml, .azure-pipelines/generate-v1.0-modules.yml, .azure-pipelines/validate-pr-auth-module.yml, .azure-pipelines/validate-pr-v1.0-modules.yml

.azure-pipelines/generate-auth-module.yml:
  pool:
    name: Microsoft Graph
    demands: Agent.Name -equals Local-Agent
  steps:
  - task: securedevelopmentteam.vss-secure-development-tools.build-task-credscan.CredScan@2
    displayName: Run CredScan
    inputs:
      debugMode: false
  - task: PowerShell@2
    displayName: Generate and Build Auth Module
  ...

.azure-pipelines/generate-beta-modules.yml:
  name: $(BuildDefinitionName)_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  jobs:
  - job: MSGraphPSSDKGeneration
    displayName: MS Graph PS SDK Beta Generation
    timeoutInMinutes: 300
    pool:
      name: Microsoft Graph
      demands: Agent.Name -equals Local-Agent
    steps:
  ...

.azure-pipelines/generate-v1.0-modules.yml:
  jobs:
  - job: MSGraphPSSDKGeneration
    displayName: MS Graph PS SDK v1.0 Generation
    timeoutInMinutes: 300
    pool:
      name: Microsoft Graph
      demands: Agent.Name -equals Local-Agent
    steps:
    - task: securedevelopmentteam.vss-secure-development-tools.build-task-credscan.CredScan@2
  ...

.azure-pipelines/validate-pr-auth-module.yml:
  name: $(BuildDefinitionName)_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
  jobs:
  - job: MSGraphPSSDKValidation
    displayName: MS Graph PS SDK Auth Validation
    timeoutInMinutes: 300
    pool:
      name: Microsoft Graph
      demands: Agent.Name -equals Local-Agent
    steps:
  ...

.azure-pipelines/validate-pr-v1.0-modules.yml:
  jobs:
  - job: MSGraphPSSDKValidation
    displayName: MS Graph PS SDK V1.0 Validation
    timeoutInMinutes: 300
    pool:
      name: Microsoft Graph
      demands: Agent.Name -equals Local-Agent
    steps:
    - task: securedevelopmentteam.vss-secure-development-tools.build-task-credscan.CredScan@2
  ...

Remove super-permissions from sample
  samples/2-ConnectToGraph.ps1
Due: none

Add script to generate profiles per module.
  tools/ProfileGenerator.ps1
Due: none

Generate national cloud aware profile definitions.
  tools/GetNationalCloud.ps1
  tools/ProfileGenerator.ps1
Due: none

Consume profile definitions when generating modules.
  src/Beta/Users.User/Users.User/readme.md
  src/readme.graph.md
  tools/Custom/Module.cs
  tools/GenerateProfiles.ps1
  tools/GetNationalCloud.ps1
  tools/Templates/readme.md
Due: .azure-pipelines/generate-beta-modules.yml

Add Get-MgProfile and Select-MgProfile cmdlets.
  src/Authentication/Authentication/Cmdlets/GetMGContext.cs
  src/Authentication/Authentication/Cmdlets/GetMgProfile.cs
  src/Authentication/Authentication/Cmdlets/SelectMgProfile.cs
  src/Authentication/Authentication/Common/GraphProfile.cs
  src/Authentication/Authentication/Constants.cs
  src/Authentication/Authentication/Extensions/IEnumerableExtensions.cs
  src/Authentication/Authentication/Extensions/PSCmdletExtensions.cs
  src/Authentication/Authentication/Extensions/StringExtensions.cs
  src/Authentication/Authentication/Models/PSGraphServiceProfile.cs
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Validate passed in URL. Use Http enum for validation.
  src/Authentication/Authentication/Cmdlets/GetGraphClient.cs
  src/Authentication/Authentication/Cmdlets/InvokeGraphRequest.cs
  src/Authentication/Authentication/Microsoft.Graph.Authentication.psd1
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Add supported profiles to module manifest.
  src/Authentication/Authentication/Cmdlets/ConnectGraph.cs
  src/Authentication/Authentication/Cmdlets/GetMgProfile.cs
  src/Authentication/Authentication/Cmdlets/SelectMgProfile.cs
  src/Authentication/Authentication/Common/GraphProfile.cs
  src/Authentication/Authentication/Common/GraphSession.cs
  tools/Custom/Module.cs
  tools/Custom/load-dependency.ps1
  tools/GenerateModules.ps1
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Update scripts to consider new proj structure.
  config/ModuleMetadata.json
  openApiDocs/v1.0/.gitkeep
  openApiDocs/v1.0/Users.User.yml
  profiles/Users.ProfilePhoto/crawl-log-v1.0-beta.json
  profiles/Users.ProfilePhoto/definitions/v1.0-beta.md
  profiles/Users.ProfilePhoto/readme.md
  profiles/Users.User/crawl-log-v1.0-beta.json
  profiles/Users.User/crawl-log-v1.0.json
  profiles/Users.User/definitions/v1.0-beta.md
  profiles/Users.User/definitions/v1.0.md
  profiles/Users.User/readme.md
  profiles/Users.UserSettings/crawl-log-v1.0-beta.json
  profiles/Users.UserSettings/definitions/v1.0-beta.md
  profiles/Users.UserSettings/readme.md
  src/Graph/Graph/Microsoft.Graph.nuspec
  src/Graph/Graph/Microsoft.Graph.psd1
  tools/BuildModule.ps1
  tools/CleanUpModuleSrc.ps1
  tools/GenerateModules.ps1
  tools/GenerateProfiles.ps1
  tools/GenerateRollUpModule.ps1
  tools/ManageGeneratedModule.ps1
  tools/PackModule.ps1
  tools/SetVersionToAllModules.ps1
  tools/Templates/Microsoft.Graph.nuspec
  tools/Templates/readme.md
Due: none

Adding help messages and extra validation.
  src/Authentication/Authentication/Cmdlets/InvokeGraphRequest.cs
  src/Authentication/Authentication/Helpers/AttachDebugger.cs
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Update users.actions regex.
  src/Users.Actions/Users.Actions/readme.md
Due: none

Port custom commands to v1.0 & beta profiles.
  src/Groups.DirectoryObject/Groups.DirectoryObject/Microsoft.Graph.Groups.DirectoryObject.psd1
  src/Groups.DirectoryObject/Groups.DirectoryObject/custom/GroupsDirectoryObject.cs
  src/Groups.DirectoryObject/Groups.DirectoryObject/custom/NewMgGroupMember_Create.cs
  src/Groups.DirectoryObject/Groups.DirectoryObject/custom/NewMgGroupMember_Create1.cs
  src/Groups.DirectoryObject/Groups.DirectoryObject/custom/NewMgGroupMember_CreateExpanded.cs
  src/Groups.DirectoryObject/Groups.DirectoryObject/custom/NewMgGroupMember_CreateExpanded1.cs
  src/Groups.DirectoryObject/Groups.DirectoryObject/custom/NewMgGroupMember_CreateViaIdentity.cs
  src/Groups.DirectoryObject/Groups.DirectoryObject/custom/NewMgGroupMember_CreateViaIdentity1.cs
  src/Groups.DirectoryObject/Groups.DirectoryObject/custom/NewMgGroupMember_CreateViaIdentityExpanded.cs
  src/Groups.DirectoryObject/Groups.DirectoryObject/custom/NewMgGroupMember_CreateViaIdentityExpanded1.cs
  src/Groups.DirectoryObject/Groups.DirectoryObject/docs/v1.0-beta/Microsoft.Graph.Groups.DirectoryObject.md
  src/Groups.DirectoryObject/Groups.DirectoryObject/docs/v1.0-beta/New-MgGroupMember.md
  src/Groups.DirectoryObject/Groups.DirectoryObject/docs/v1.0/Microsoft.Graph.Groups.DirectoryObject.md
  src/Groups.DirectoryObject/Groups.DirectoryObject/docs/v1.0/New-MgGroupMember.md
  src/Groups.DirectoryObject/Groups.DirectoryObject/examples/v1.0-beta/New-MgGroupMember.md
  src/Groups.DirectoryObject/Groups.DirectoryObject/examples/v1.0/New-MgGroupMember.md
  src/Groups.DirectoryObject/Groups.DirectoryObject/test/v1.0-beta/New-MgGroupMember.Tests.ps1
  src/Groups.DirectoryObject/Groups.DirectoryObject/test/v1.0/New-MgGroupMember.Tests.ps1
Due: none

Export SelectMgProfile & GetMgProfile cmdlet.
  src/Authentication/Authentication/Microsoft.Graph.Authentication.psd1
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Remove TODOs
  src/Authentication/Authentication/Cmdlets/ConnectGraph.cs
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Move all ADO pipeline agents to MS hosted.
  .azure-pipelines/generate-auth-module.yml
  .azure-pipelines/generate-beta-modules.yml
  .azure-pipelines/generate-beta-rollup-module.yml
  .azure-pipelines/generate-v1.0-modules.yml
  .azure-pipelines/generate-v1.0-rollup-module.yml
  .azure-pipelines/validate-pr-auth-module.yml
  .azure-pipelines/validate-pr-beta-modules.yml
  .azure-pipelines/validate-pr-v1.0-modules.yml
Due: none

Address feedback.
  src/Authentication/Authentication/Cmdlets/GetMgProfile.cs
  src/Authentication/Authentication/Common/GraphProfile.cs
  src/Authentication/Authentication/Common/GraphSession.cs
  src/Authentication/Authentication/Constants.cs
  src/Authentication/Authentication/Extensions/PSCmdletExtensions.cs
  src/Authentication/Authentication/Extensions/StringExtensions.cs
  src/Authentication/Authentication/Microsoft.Graph.Authentication.psd1
  src/Authentication/Authentication/Models/PSGraphServiceProfile.cs
  tools/Templates/readme.md
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Add GraphPSCmdlet base class
  src/Beta/Users.Calendar/Users.Calendar/custom/GraphPSCmdlet.cs
  src/Beta/Users.Calendar/Users.Calendar/custom/Module.cs
  src/readme.graph.md
  tools/Custom/GraphPSCmdlet.cs
Due: .azure-pipelines/generate-beta-modules.yml

Move OverrideOnDefault to PSCmdletExtensions
  src/Authentication/Authentication/Extensions/PSCmdletExtensions.cs
  src/Beta/Users.Calendar/Users.Calendar/custom/ListCmdlet.cs
  src/readme.graph.md
  tools/Custom/ListCmdlet.cs
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/generate-beta-modules.yml, .azure-pipelines/validate-pr-auth-module.yml

Allow customers to specify -PageSize with -All
  src/Beta/Users.Calendar/Users.Calendar/custom/ListCmdlet.cs
  src/Beta/Users.Calendar/Users.Calendar/custom/Module.cs
  tools/Custom/ListCmdlet.cs
Due: .azure-pipelines/generate-beta-modules.yml

Remove spaces.
  src/Beta/Users.Calendar/Users.Calendar/custom/Module.cs
Due: .azure-pipelines/generate-beta-modules.yml

Update readme.graph.md
  src/readme.graph.md
Due: none

Explicitly call Init before pipeline creation.
  tools/Custom/Module.cs
Due: none

Resolve mismatched dependency versions.
  src/Authentication/Authentication/Microsoft.Graph.Authentication.csproj
  tools/Lib/System.Security.Cryptography.ProtectedData.dll
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Allow cancellation of auth with 'ctrl + c'
  src/Authentication/Authentication/Cmdlets/ConnectGraph.cs
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Document dependency known issue.
  src/Authentication/Authentication/Microsoft.Graph.Authentication.csproj
Due: .azure-pipelines/generate-auth-module.yml, .azure-pipelines/validate-pr-auth-module.yml

Add -PageSize parameter.
  src/readme.graph.md
  tools/Custom/ListCmdlet.cs
Due: none

Path conditions:
  .azure-pipelines/generate-auth-module.yml: any of: src/Authentication
  .azure-pipelines/generate-beta-modules.yml: any of: src/Beta, config/ModulesMapping.jsonc
  .azure-pipelines/generate-v1.0-modules.yml: any of: src/v1.0, config/ModulesMapping.jsonc
  .azure-pipelines/validate-pr-auth-module.yml: any of: src/Authentication
  .azure-pipelines/validate-pr-v1.0-modules.yml: any of: src/v1.0, config/ModulesMapping.jsonc
